<h1>Welcom to Timetracking tool</h1>
<h3>Projects</h3>

<ul>
	<% @projects.each do |project| %>
	<li> <%=project.name%>
		<%=project.description.present? ? "- #{project.description}" : " " %>
	</li>
	<% end %>
</ul>