<h1>New entry for project: <%= @project.name %></h1>

<% if @entry.errors.any? %>
	<ul>
		<% @entry.errors.full_messages.each do |error_message| %>
		<li><%= error_message %></li>
		<% end %>
	</ul>
<% end %>
		
<%= render "form" %>

<%= link_to "Cancel", project_entries_path %>